%ol.breadcrumb
  %li
    %a{:href => "/"} Главная
  %li Контакты

.container
  %h1.with-sorting
    Способы оплаты
  %section.container
    .row
      %h2
        1) Мы принимаем оплату с помощью Webmoney (Вебмани) через сервис <b>Robokassa</b>
    .row
      %h3
        Для того, чтобы оплатить:
    .row
      На странице выписанного счета выберите вкладку «Вебмани» и нажмите на кнопку чтобы оплатить с помощью WebMoney
      = image_tag "payments/webmoney-1.jpg"
    .row
      Вы перешли на страничку «Оплата счета»
      %br
      Проверьте все данные, сумму к оплате, Email и нажмите «перейти к оплате»
      = image_tag "payments/webmoney-2.jpg"
    .row
      Проверьте еще раз все данные в разделах: «товар и услуги», «на сумму», «Продавцу»
      %br
      Далее введите свой логин Webmoney от любого типа кепера или телефон и пароль от Webmoney.Check и число с картинки
      %br
      Нажмите кнопку «ДАЛЕЕ»
      = image_tag "payments/webmoney-3.jpg"
    .row
      Дождитесь СМС с кодом подтверждения.
      %br
      Введите его в соответствующее поле и нажмите «платеж подтверждаю».
      %br
      В случае отказа нажмите «От платежа отказываюсь»
      = image_tag "payments/webmoney-4.jpg"
    .row
      ВНИМАНИЕ!!!
      %br
      Данная услуга доступна только при наличии у вас кошелька в платежной системе Webmoney или Webmoney.check
  %br
  %section.brand-carousel
    .container
