packages:
  yum:
    git: []
    ImageMagick: []

option_settings:
  - option_name: BUNDLE_DISABLE_SHARED_GEMS
    value: "1"
  - option_name: BUNDLE_PATH
    value: "vendor/bundle"
  - option_name: RAILS_SKIP_MIGRATIONS
    value: true
  - option_name: RAILS_SKIP_ASSET_COMPILATION
    value: true
  - option_name: RACK_ENV
    value: production
  - option_name: SECRET_KEY_BASE
    value: 5c4543f632ad024c1df66a345f7d2ec5ab1f376ee9ff27d5511f5a5e12803292ac6847a22cb0b2e318f0a46db679ffc3f88c2617dcd73da13a11e0e835e87ed1
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 1800
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.small

container_commands:
  01_compile-assets:
    command: bundle exec rake assets:precompile
  02_db-migrate:
    command: bundle exec rake db:migrate
    leader_only: true
  03_fix-permissions:
    command: chown -R webapp:webapp /var/app/ondeck
