%section.log-reg.container
  %h2 Персональный раздел
  %p В личном кабинете Вы можете проверить текущее состояние корзины, ход выполнения Ваших заказов, просмотреть или изменить личную информацию, а также подписаться на новости и другие информационные рассылки.
  %h3 Личная информация
  %ul
    %li
      %a{ href: edit_user_registration_path } Изменить регистрационные данные
    %li
      %a{ href: edit_user_registration_path } Изменить пароль
    %li
      %a{ href: new_user_password_path } Забыли пароль?
  %h3 Заказы
  %ul
    %li
      %a{ href: orders_path } Ознакомиться с состоянием заказов
    %li
      %a{href: '#'} Посмотреть содержимое корзины
    %li
      %a{href: '#'} Посмотреть отложенные товары

  %h3 Подписка
  %ul
    %li
      %a{href: '#'} Изменить подписку
