%table
  = render(cart.line_items)
  %tr.total_line
    %td{colspan: "2"} Итого
    %td.total_cell= number_to_currency(cart.total_price)

.row
  .span2= button_to "Оформить", new_order_path, method: :get, class: 'btn'
  .span1= button_to 'Очистить', cart, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn'