<p>Вы запросили смену пароля.</p>
<p>Ваш email: <%= @resource.email %>!</p>

<p>Для продолжения нажмите:</p>
<p><%= link_to 'Изменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>
